div .Header {
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5px;
    background-color: rgb(255, 225, 170);
    height: 100px;
    border: 2px solid orange;
    border-radius: 20px 20px 5px 5px;
    text-align: center;
}

    div .Header h2 {
        margin-top: 35px;
        color: orange;
    }

    div .Header img {
        width: 100px;
        height: 100px;
        float: left;
        margin-left: 5%;
    }

.icono {
	width: 10px;
	height: 10px;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
}

div .Footer {
    border: 2px solid blue;
    background-color: rgb(170, 225, 255);
    border-radius: 5px 5px 10px 10px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

    div .Footer h6 {
        color: blue;
        padding: 0;
        margin: 0;
    }

.Botoncabecera {
	padding: 5px 10px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	border: solid 1px black;
	background-color: #333333;
	color: white;
	margin-left: 5%;
	cursor: pointer;
	outline: none;
	height: 28px;
}

    .Botoncabecera:hover {
        background-color: gray;
        cursor: pointer;
    }

.menu {
	list-style-type: none;
	margin-left: 50px;
	padding: 0;
	overflow: hidden;
}

    .menu li {
        font-size: 14px;
        float: left;
        display: block;
        text-align: center;
        padding: 5px 10px;
        border: solid 1px black;
        border-radius: 5px;
        color: white;
        background-color: #333333;
        margin-left: 1px;
    }

        .menu li:hover {
            color: black;
            background-color: gray;
            border: solid 1px black;
            cursor: pointer;
        }

    .menu .seleccionado {
        color: black;
        background-color: gray;
        border: solid 1px black;
    }

.fondoCabecera {
    border-radius: 10px;
    background-color: #8989b9;
}

.fondoFooter {
    border-radius: 10px;
    background-color: #8989b9;
}
