.contenedor {
	border: 1px solid black;
	border-radius: 5px;
	line-height: 1.2em;
	max-height: 3.6em;
	width: 300px;
	margin-left: 100px;
	overflow: hidden;
	text-overflow: clip;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
	position: relative;
	background-color: #837d7d;
}

.contenedor:before {
	content: "...";
	position: absolute;
	right: 0;
	bottom: 0;
}

.contenedor:after {
	content: "";
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background-color: #837d7d;
}

.contenedor:hover {
	border: 1px solid black;
	border-radius: 5px;
	line-height: 1.2em;
	max-height: 36em; /*30 lineas*/
	width: 300px;
	margin-left: 100px;
	box-shadow: black 5px 5px 10px;
	background-color: #837d7d;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: small;
}
