.nivel1 {
	/*border: 1px solid black;
	border-radius: 5px;*/
	line-height: 1.5em;
	max-height: 1.5em;
	width: 300px;
	margin-left: 20px;
	/*margin-bottom: 5px;*/
	overflow: hidden;
	text-overflow: clip;
	text-align: left;
	margin-right: -1em;
	padding-right: 1em;
	position: relative;
	/*background-color: #837e7e;*/
	/*font-size: small;*/
}

.nivel2 {
	/*border: 1px solid black;
	border-radius: 5px;*/
	line-height: 1.5em;
	max-height: 1.5em;
	width: 280px;
	margin-left: 20px;
	/*margin-bottom: 5px;*/
	overflow: hidden;
	text-overflow: clip;
	text-align: left;
	margin-right: -1em;
	padding-right: 1em;
	position: relative;
	/*background-color: #c46d6d;*/
	/*font-size: small;*/
}

.nivel3 {
	/*border: 1px solid black;
	border-radius: 5px;*/
	line-height: 1.5em;
	max-height: 1.5em;
	width: 260px;
	margin-left: 20px;
	/*margin-bottom: 5px;*/
	overflow: hidden;
	text-overflow: clip;
	text-align: left;
	margin-right: -1em;
	padding-right: 1em;
	position: relative;
	/*background-color: #7a6dc4;*/
	/*font-size: small;*/
}

.nivel4 {
	/*border: 1px solid black;
	border-radius: 5px;*/
	line-height: 1.5em;
	max-height: 1.5em;
	width: 240px;
	margin-left: 20px;
	/*margin-bottom: 5px;*/
	overflow: hidden;
	text-overflow: clip;
	text-align: left;
	margin-right: -1em;
	padding-right: 1em;
	position: relative;
	/*background-color: #6dc48e;*/
	/*font-size: small;*/
}

.nivel5 {
	/*border: 1px solid black;
	border-radius: 5px;*/
	line-height: 1.5em;
	max-height: 1.5em;
	width: 220px;
	margin-left: 20px;
	/*margin-bottom: 5px;*/
	overflow: hidden;
	text-overflow: clip;
	text-align: left;
	margin-right: -1em;
	padding-right: 1em;
	position: relative;
	/*background-color: #b4c46d;*/
	/*font-size: small;*/
}

.mostrar {
	/*border: 1px solid black;
	border-radius: 5px;*/
	line-height: 1.5em;
	max-height: 36em; /*30 lineas*/
	margin-left: 20px;
	/*box-shadow: black 3px 3px 4px;*/
	color: black; /* white;*/
	overflow: hidden;
	text-overflow: ellipsis;
}

b {
	color: black;
	font-size: 14px;
}

/*.mostrar b {
	color: red;
}*/

.botonmas {
	font-weight: bold;
	/*font-size: small;*/
	border: none;
	background: none;
	width: 1.5em;
	height: 1.5em;
	outline: none;
	background-color: lightgray;
	border-radius: 5px;
	/*border: solid 1px black;
	text-align: center;
	margin-bottom: 5px;*/
}

/*.nivel1 .botonmas {
	background-color: #837e7e;
}

.nivel2 .botonmas {
	background-color: #c46d6d;
}

.nivel3 .botonmas {
	background-color: #7a6dc4;
}

.nivel4 .botonmas {
	background-color: #6dc48e;
}

.nivel5 .botonmas {
	background-color: #b4c46d;
}*/

.Dropdown {
	border: 1px solid black;
	border-radius: 5px;
	padding: 4px;
	outline: none;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	background: #2c3e50;
	color: white;
}
