.contenedor {
	border: 1px solid black;
	border-radius: 5px;
	line-height: 1.2em;
	max-height: 1.2em;
	width: 300px;
	margin-left: 100px;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: clip;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
	position: relative;
	background-color: #837e7e;
}

.contenedor:before {
	content: "...";
	position: absolute;
	right: 0;
	bottom: 0;
}

.contenedor:after {
	content: "";
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background-color: #837e7e;
}

.mostrar {
	border: 1px solid black;
	border-radius: 5px;
	line-height: 1.2em;
	max-height: 36em; /*30 lineas*/
	width: 600px;
	margin-left: 100px;
	box-shadow: black 3px 3px 4px;
	background-color: #837e7e;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: small;
}

.Botonmas {
	background-color: #837e7e;
	border: none;
	outline: none;
	font-weight: bold;
}

.Botonmas:hover {
	cursor: pointer;
}

.mostrar .Botonmas {
	background-color: #837e7e;
	border: none;
	outline: none;
	font-weight: bold;
	color: white;
}

.mostrar .Botonmas:hover {
	cursor: pointer;
}
